.container {
    margin: 200px;
}

.verticle {
    border: 2px solid black;
    width: 50px;
    height: 200px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.horizontal {
    border: 2px solid black;
    height: 50px;
    width: 200px;
    display: flex;
    justify-content: space-around;
}

.horizontal-r {
    flex-flow: row-reverse;
}

.verticle-b {
    flex-flow: column-reverse;
}

.light-wrap-y {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-weight: bolder;
}

.light-wrap-col {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.light-wrap-x {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    font-size: xx-large;
    font-weight: bolder;
}

.red, .yellow, .green {
    background-color: black;
    height: 45px;
    border-radius: 50%;
    opacity: 1;
    width: 45px;
}
